* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
}
#circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  color: #fff;
  width: 160px;
  background-color: rgb(236, 252, 16);
  border-radius: 100%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 9s;
}

.hover {
  transform: scale(2);
}
